# Unity generated folders
/Library/
/Temp/
/Logs/
/obj/
/Build/
/Builds/
/UserSettings/

# Build output
*.apk
*.aab
*.unitypackage
*.app

# VS/Rider
.vs/
*.sln
*.csproj
*.user

# OS
.DS_Store
Thumbs.db
